@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(229 231 235) transparent transparent transparent;
}



@media (max-width: 640px) {
  .tooltip_left::after {
    left: 20%;
  }
  
  .tooltip_right::after {
    left: 80%;
  }
}
    /* ipad 사용자용 툴팁 디자인 */

  .tooltip_right_md::after  {
      left: 80%;

}
.dark .tooltip::after {
  border-color: rgb(75, 85, 99) transparent transparent transparent;
}
